@import '../../node_modules/nib'
@import '../../node_modules/jeet/stylus/jeet'

#title
  margin-top: 20px
  background-color: red
  background: linear-gradient(top, white, black)
#code
  col(1/2)
  background: linear-gradient(top, green, red)

.green
  animation-duration: 1s
  animation-fill-mode: forwards
  animation-name: greenStyle

.red
  @extend .green
  animation-name: redStyle

.green-red
  background: linear-gradient(top, green, red)

.red-green
  background: linear-gradient(top, red, green)

@keyframes redStyle {
  100% {
    background: red 
  }
}

@keyframes greenStyle {
  100% {
    background: green 
  }
}
