@import '../../node_modules/nib'
@import '../../node_modules/jeet/stylus/jeet'

#title
  margin-top: 20px
  background-color: red
  background: linear-gradient(top, white, black)
#code
  col(1/2)
  background: linear-gradient(top, green, red)

.green
  background: green;

.red
  background: red;

.green-red
  background: linear-gradient(top, green, red)

.red-green
  background: linear-gradient(top, red, green)
